:root {
    
}

body {
    background-color: black;
    margin:0;
    padding:0;
    color:white;
}

a {
    color: green;
    text-decoration: none;
}

main {
    overflow: hidden;
    background-size: cover;
    //height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    
}
