

:root {
    --bg: url("../Assets/bg.jpg");
}

body {
    background-color: black;
    margin:0;
    color:white;
    height: 100svh;
    min-height: 100svh;
    position: relative;
}

a {
    color: green;
    text-decoration: none;
}

.location {
    height: calc(100% - 3rem);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding: 1.5rem
}

.cont {
    padding: 1rem;
    width: 100%;
    max-width: 750px;
    border-radius: 1.875rem;
    background: var(--bg);
    background-size: contain;
    backdrop-filter: blur(15px);
    color: black;
    border: 2px solid black;
}

.location__obj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    flex-grow: 1;
}

.location__signpost {
}
