<form method="post" class="cont__ctrls cont__ctrls--combat">
    <button asp-page-handler="Attack" type="submit" name="attackType" value="WeakAttack">Slabý Útok</button>
    <button asp-page-handler="Attack" type="submit" name="attackType" value="StrongAttack">Silný Útok</button>
</form>