<h2 class="combat__enemy-name">@Model.lModel.Enemy.Name</h2>
<img class="combat__enemy" src="Assets/Enemy/@Model.lModel.Enemy.Img" alt="@Model.lModel.Enemy.Name">
@if (!Model.pModel.CombatState.CleanedLocations.Contains(Model.lModel.LocationID))
{
    //HEALTHBAR
    <h2>@Model.pModel.CombatState.CurrentEnemy.Hp hp</h2>
}
else
{
    <h2>Nepřítel je poražen</h2>
}

