<div class="combat">
    <h2 class="combat__enemy-name">@Model.lModel.Enemy.Name</h2>
    <img class="combat__enemy" src="Assets/Enemy/@Model.lModel.Enemy.Img" alt="@Model.lModel.Enemy.Name">
    @if (!Model.pModel.CombatState.CleanedLocations.Contains(Model.lModel.LocationID))
    {
        //HEALTHBAR
        <h2>@Model.pModel.CombatState.CurrentEnemyHp hp</h2>
        <form method="post">
            <button asp-page-handler="Attack" type="submit" name="attackType" value="WeakAttack">Slabý Útok</button>
            <button asp-page-handler="Attack" type="submit" name="attackType" value="StrongAttack">Silný Útok</button>
        </form>
    }
    else
    {
        <h2>Nepřítel je poražen</h2>
    }

</div>
