@page
@model Game.Pages.Endgame

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
        @if(Model.Win)
        {
            <h1>Win</h1>
        }
        else
        {
            <h1>Lost</h1>
        }

</div>
</body>
</html>