@page
@model Game.Pages.Endgame
@{
    ViewData["Title"] = "Escape The Fortress - Interaktivní gambook";
}
<main class="main--info main--endgame" style="background-image: url(Assets/@(Model.Win ? "winBg.webp" : "loseBg.webp"))">
    @if(Model.Win)
    {
        <h1>Vyhrál si</h1>
        <div class="main__card @(!Model.pModel.SavedToLeaderboard ? "main__card--form" : "")">    
            <h2>Zabralo ti to jen @Model.Time.Value.ToLongTimeString()</h2>
            @if (!Model.pModel.SavedToLeaderboard)
            {
                <p>Pokud chceš zvìènit své bájné jméno, tak prosím...</p>
                <form method="post" class="leadboard-form">
                    <input name="name" type="text" placeholder="Tvé jméno" />
                    <button asp-page-handler="EnterLeaderboard" type="submit">Zapsat se</button>
                </form>
                
            }
        </div>
        <a class="btn" asp-page="Index">Domù</a>
    }
    else
    {
            <h1>Prohrál si</h1>
            <div class="main__card">
                @if (Model.pModel.CombatState.IsCombatActive)
                {
                    <p>Zemøel jsi pøi souboji s entitou @Model.pModel.CombatState.CurrentEnemy.Name</p>
                }
                else
                {
                    <p>Proè umírat, když je ten život, tak krásný?</p>
                }
            </div>
                   
        <a class="btn" asp-page="Index">Domù</a>
    }    
</main>

