@page
@model Game.Pages.Endgame

<main class="main--info main--endgame" style="background-image: url(./Assets/@(Model.Win ? "winBg.webp" : "loseBg.webp"))">
    @if(Model.Win)
    {
        <h1>Vyhrál si</h1>
        <a class="btn" asp-page="Index">Domù</a>
    }
    else
    {
        <div>
                <h1>Prohrál si</h1>
                @if (Model.pModel.CombatState.IsCombatActive)
                {
                    <p>Zemøel jsi pøi souboji s entitou @Model.pModel.CombatState.CurrentEnemy.Name</p>
                }    
        </div>
        <a class="btn" asp-page="Index">Domù</a>
    }    
</main>

