@page
@model IndexModel
@{
    ViewData["Title"] = "Escape The Fortress - Interaktivní gambook";
}

<div class="home">
    <h1>Escape The Fortress</h1>
    <menu>
        <form method="post">
            <button type="submit" asp-page-handler="StartGame">Začít</button>
            <button type="submit" asp-page-handler="ShowInfo">O hře</button>
        </form>
    </menu>
    @if (Model.ShowInfo)
    {
        <div id="about" class="home-about">
            <p>Hokus pokus, já ztratil fokus</p>
            <form method="post">
                <button type="submit" asp-page-handler="HideInfo">Schovat</button>
            </form>
        </div>

    }

</div>

