@page
@model IndexModel
@{
    ViewData["Title"] = "Escape The Fortress - Interaktivní gambook";
}

<main class="main--info">
    <h1>Escape The<span class="br"></span> Fortress</h1>
    <form method="post" class="main__menu">
        <button class="btn" type="submit" asp-page-handler="StartGame">Hrát</button>
        <button class="btn">O hře</button>
    </form>
</main>
