@page
@model IndexModel
@{
    ViewData["Title"] = "Escape The Fortress - Interaktivní gambook";
}

<main class="main--info">
    <h1>Escape The<span class="br"></span> Fortress</h1>
    <menu>
        <form method="post">
            <button type="submit" asp-page-handler="StartGame">Začít</button>
            <button type="submit" asp-page-handler="ShowInfo">O hře</button>
        </form>
    </menu>
    <div id="about" class="home-about">
        <p>Hokus pokus, já ztratil fokus</p>
    </div>


</main>

