@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home">
    <h1>Escape The Fortress</h1>
    <menu>
        <a asp-page="/Location" asp-route-id="1">Začít dobrodružství</a>
        <a>O hře</a>
    </menu>
    <div id="about" class="home-about">
        <p>Hokus pokus ja ztratil svůj fokus</p>
    </div>
</div>

