<div class="cont__ctrls cont__ctrls--items">
    @foreach(var i in Model.lModel.Items)
    {
        @if (!Model.pModel.PickedUpItems.Contains(i.ID))
        {
            <button name="ItemID" value="@i.ID" type="submit" asp-page-handler="PickUpItem">Sebrat @i.Name</button>
        }
    }
</div>
