@foreach(var i in Model.lModel.Items)
{
    @if (!Model.pModel.PickedUpItems.Contains(i.ID))
    {
        <div class="item">
            <img href="Assets/LocationsBg/@i.Icon" alt="@i.Name">
            <p>@i.Description</p>   
        </div>
    }
}
