@foreach(var i in Model.lModel.Items)
{
    @if (!Model.pModel.PickedUpItems.Contains(i.ID))
    {
        <form method="post">
            <input hidden name="ItemID" value="@i.ID"/>
            <button type="submit" asp-page-handler="PickUpItem">Sebrat @i.Name</button>
        </form>
    }
}