@page
@model Game.Pages.Location

@{
    Layout = null;
}

<div>
    <p>@Model.lModel.Name</p>
    <p>@Model.lModel.Description</p>
    <p>@Model.lModel.Background</p>
    <img src="Assets/@Model.lModel.Background"/>
    <button asp/>
</div>
